@import "../../mixins.scss";
.footer{
    &__wrapper{
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include for-size(phone-only){
            bottom: 2px;
        }
    }

    &__content{
        color: #333;
        font-size: 16px;
        @include for-size(phone-only){
            font-size: 10px;
        }
    }
}