@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');

html{
    height: 100vh;
}

body {
    font-family: 'Farro', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.App{
    height: 100%;
}