@import url('https://fonts.googleapis.com/css2?family=Farro&display=swap');

html{
    height: -webkit-fill-available;
}

body {
    font-family: 'Farro', sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    margin: 0;
}

.App{
    height: 100%;
}